<ion-header>
    <ion-toolbar color="success">
      <ion-title>
        Marché Virtuel
      </ion-title>
      <ion-icon  style="zoom: 2.0" slot="end" name="log-out"></ion-icon>
    </ion-toolbar>
  </ion-header>
<ion-content class="background">
  <div>
      <ion-row  class="shadow" style="background-color: #fff ">
        <ion-col size="6">
          <ion-item>
            <label  style="color: #fff;" for="">Domaine</label>
            <ion-select  placeholder="" (ionChange)="getSousCategorie($event)"   *ngFor="let categorie of categories">
              <ion-select-option value="{{categorie.id}}">{{categorie.libelle}}</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>
          <ion-col size="6">
              <ion-item>
                  <label  style="color: #fff;" for="">Catégorie</label>
            <ion-select multiple="true" placeholder="" *ngFor="let souscategorie of sousCategorie">
              <ion-select-option value="{{souscategorie.libelle}}">{{souscategorie.libelle}}</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      
      </ion-row>
      <ion-row  *ngFor ="let annonce of annonces"    class="shadow" style="background-color: #fff">
        <ion-col size="12">
          
          <ion-card  (click)="openAnnonce(annonce)" >
            <ion-item color="white" >
              <ion-icon color="dark" name="pin" slot="start"></ion-icon>
              <ion-label>{{ annonce?.created_at | date:'dd-MM-yyyy' }}</ion-label>
              <ion-label>{{ annonce?.produit?.libelle }}</ion-label>
              <ion-button color="dark" fill="outline"  (click)="openAnnonce(annonce)"  slot="end" ><ion-icon color="dark" name="eye"></ion-icon></ion-button>
            </ion-item>
            <img src="http://127.0.0.1:8000/categorie/{{ annonce?.produit?.image }}"/>
            <ion-card-content color="light">
        
              <ion-row>
                <ion-col  style="text-align: center;">
               
                <b>{{ annonce?.produit?.sous_categorie?.libelle}} </b>
                </ion-col>
              </ion-row>
              <ion-row style="text-align: center">
                <ion-col size="6" align-self-center>
                 Quantite:  {{ annonce?.quantite}}
                </ion-col>
                <ion-col sizé="6" align-self-end>
                  Prix Unitaire {{ annonce?.prix_unitaire}} CFA
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    
       
  </div>
 

</ion-content>
