#inscription{
    margin-top: 50%;
    margin-bottom: 50%;
}


ion-content.background{
    --background-color: green;
}


// ion-card {
//     border: 1px solid #eee8d5;
//     background-color: #eee8d5;
 
//     border-radius: 10px 10px 10px 10px;
//     }
    