<ion-header>
   
    <ion-toolbar  color="success">
        <ion-buttons slot="start">
            <ion-icon  style="zoom: 1.7" name="arrow-round-back"></ion-icon>
        </ion-buttons>
      <ion-title>Detaille  Annonce</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><img src="../../assets/img/arachide.jpg" /></ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
   
  
  </ion-content>
  