<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Agroconnect
    </ion-title>
    <ion-icon  style="zoom: 2.0" slot="end" name="log-out"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="ion-padding">
      <ion-grid>
        
           <ion-row>
             <ion-col col-12>
               <ion-grid>
                   <ion-row>
       
                     <ion-col  size="6">
                         <ion-card>
                             <img src='../../assets/img/marche.jpg' alt="" (click)="gotToMarcheVirtuel()">
                          
                         </ion-card>
                       </ion-col>
                     <ion-col  size="6">
                         <ion-card>
                           <img src='../../assets/img/cooperative.jpg' alt="" (click)="goToCooperative()">
                
                         </ion-card>
                    </ion-col>
       
                   </ion-row><br><br>
                   <ion-row>
                     <ion-col  size="6">
                         <ion-card>
                             <img src="../../assets/img/service.jpg" alt="" (click)="goToService()">
                         </ion-card>
                        </ion-col>
                     <ion-col size="6">
                         <ion-card>
                             <img src="../../assets/img/meteo.jpg" alt="" (click)="goToMeteo()">
                           
                         </ion-card>
                       </ion-col>
       
                   </ion-row>
                   <ion-row>
                      
                        
                      <ion-col size="6">
                          <ion-card>
                              <img src="../../assets/img/conseil.jpg" alt="" (click)="goToConseil()">
                      
                          </ion-card>
                        </ion-col>
        
                  </ion-row>
             </ion-grid>
             </ion-col>
           </ion-row>
         </ion-grid>
   </div>
</ion-content>
